body {
    font-family: Arial, sans-serif;
}

h1, h2 {
    color: blue;
}

ul {
    list-style-type: square;
}

table {
    width: 20%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: center;
}

footer {
    margin-top: 20px;
}
